
@{
    ViewBag.Title = "Logout";
}

<h2>Logout Succesfully</h2>
<br />

<h5>Do you want to Login Again?</h5>

<div class="nbox" style="padding:10px;width:8%;">
    @Html.ActionLink("Login", "Login", "Anshujas", new { area = "" }, new { @class = "btn btn-success" })
</div>

